@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Raleway:400,700,900');
body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f5f9fc;
}
h1,
h2,
h3,
h4,
h5,
h6 {
font-family: 'Roboto', sans-serif;
}
.pad0{padding:0px; overflow: hidden; overflow:hidden;}
.mar0{margin:0px; overflow: hidden; overflow:hidden;}
.padb10{padding-bottom:10px; overflow:hidden;}
.padt20{padding-top:20px; overflow:hidden;}
.padtb30{padding-top:30px; padding-bottom:30px; overflow:hidden;}
.padtb50{padding-top:50px; padding-bottom:50px; overflow:hidden;}
.padb50{ padding-bottom:50px; overflow:hidden;}
.padb20{padding-bottom:20px; overflow:hidden;}
.padl20{ padding-left:14px;}

.mart10 { margin-top:10px;}
.mart15 { margin-top:15px;}
.mart20 {margin-top:20px;}
.mart30 {margin-top:30px;}
.mart40 {margin-top:40px !important;}
.marb20{margin-bottom:20px;}
/*=============== Style of css ===============*/

.navbar-default {
    background-color: #335483;
    border-color: #335483;
    border: 0px;
    border-radius: 0px;
    margin-bottom: 0px;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    border-bottom: 4px solid transparent;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #dedede;
    background-color: transparent;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 24px;
    font-size: 18px;
}
.navbar-brand {
        padding: 20px 15px;
}
a.navbar-brand img {
    height: 30px;
}
.btn-primary {
    color: #fff;
    background-color: #0b78e3;
    border-color: #0b78e3;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 400;
}

.bor-bot4 {
    border-bottom: 4px solid transparent;
}

.padfbtn{padding:14px 30px;}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #369bf1;
    border-color: #369bf1;
}
#sendmoney {
    padding: 50px 0px;
    overflow: hidden;
    text-align: center;
    background: #f5f9fc;
}
p.emailadd {
    padding-top: 20px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.32px;
}
.btnshadow {
    -webkit-box-shadow: 0px 0px 22px 1px #757575;
    box-shadow: 0px 0px 22px 1px #757575;
}
.sendmoney {
    padding-top: 70px;
    margin: 0px;
    overflow: hidden;
    
}
.sendmoney>h1 {
    line-height: 30px;
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 1px;
}
.fb-login-button {
    margin-top: 80px;
    padding: 15px 70px;
}
.footer{
     padding: 20px 0;
    background-color: #335483;
    color: #fff;
}
footer.footer ul {
    padding: 0;
    line-height: 25px;
}
footer.footer ul li{
    list-style-type: none;
    font-size: 20px;
    font-weight: 300;

}
footer.footer ul li a {
    color: #fff;
    font-weight: 100;
    line-height: 35px;
}
.einputtext {
     font-size: 14px;
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 0;
    padding-bottom: 0px;
    color: #9B9B9B;
}
footer.footer ul li a:hover, a:focus {
    color: #cacaca;
    text-decoration: none;
}
footer.footer h3 {
     font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
}
.appdownload>ul{
    padding:0;
}
.appdownload>ul li {
    float: left;
    padding-top: 20px;
}
.fpass {
    font-weight:300;
    font-size:14px;
    letter-spacing:0.32px;
}
.fpass a:hover {
    text-decoration: none;
}
a.forgetpass {
    font-size: 16px;
    font-weight: 300;
    color: #0b78e3;
}
.newsignup {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.32px;
}
.marb50 {
        margin-bottom: 50px;
}
.form-horizontal {
    border: 1px solid #cacaca;
    padding: 30px;
    border-radius: 4px;
    margin-bottom: 20px;
    color: #666666;
    background-color:#fff;
}
.signin-box>.form-horizontal>.form-group>.col-sm-12>.form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.fdesign {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.space30{padding:30px;}

.blankmenu {
    height: 70px;
    background: #335483;
}
.form-group {
    margin-bottom: 5px;
    overflow: hidden;
}
.form-horizontal {
    border: 1px solid #cacaca;
    padding: 30px;
    border-radius: 4px;
    margin-bottom: 20px;
    color: #666666;
}
.form-control:focus {
    border-color: #147bcc !important;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.fb-btn {
    overflow: hidden;
    margin-bottom: 20px;
    text-align: center;
}
.signup-fb {
    padding: 16px 40px;
    font-size: 20px;
    font-weight: bold;
    margin: 16px 0px;
}
.fontsstyle {
    font-size: 18px;
    color: #4A4A4A;
    font-weight: 300;
    letter-spacing: 0.62px;

}
.font16 { 
    font-size:16px;
}
.font18 { 
    font-size:18px;
}
.marb90 {
    margin-bottom: 90px;
}
/*============== Setting pages ==========*/
.webcolor a:hover {
    text-decoration: none;
}
.bgwhite{background-color:#fff;}
.padtl30 {
    padding-top: 30px;
    padding-left: 20px;
}
.vhfull{height:100vh;}
.facebookimg {
    position: relative;
    top: -63px;
    left: 0;
    right: 0;
    text-align: center;
    cursor: pointer;
}
/*=================== Profile =======================*/

.profile span img{
 width: 40px;
 height: 40px;
 float: left;
 display: inline-block;
 position: relative;
 border-radius: 50%;
}
.profile {
 clear: both;
 overflow: hidden;
    padding-top: 15px;
}

li.profile a {
 padding-top: 15px !important;
 margin: 0;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
 color: #dedede;
 background-color: transparent;
 border-bottom: 4px solid #0b78e3;
}
.form-control {
 display: block;
 width: 100%;
 height: 40px;
 padding: 6px 12px;
 font-size: 14px;
 line-height: 1.42857143;
 color: #555;
 background-color: #fff;
 background-image: none;
 border: 1px solid #ccc;
 border-top: 0px #ff0000;
 border-left: 0px;
 border-right: 0px;
 border-radius: 0px;
 -webkit-box-shadow: none;
 box-shadow: none;
 -webkit-transition: none;
 -o-transition: none;
 transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.padb30 {
 padding-bottom: 30px;
 overflow: hidden;
}
input.form-control.ftextstyle{
 font-size: 16px;
 color: #0b78e3;
}
.signin-box {
 font-family: 'Roboto', sans-serif;
}
.right-menu {
 margin: 0;
 padding: 0;
 clear: both;
 overflow: hidden;
}
.right-menu>ul {
 margin: 0;
 padding: 0;
 list-style-type: none;
}

.right-menu>ul>li>a {
 color: #0b78e3;
 font-size: 16px;
 font-weight: bold;
}
.right-menu>ul>li>a:hover {
    text-decoration:none;
    color:rgba(9, 9, 9, 0.92);
    text-shadow: 2px 2px 4px rgba(150, 150, 150, 0.8);
}
.fullboxpop {
 overflow: hidden;
 padding: 15px 30px;
}
h4.verification{
 font-size: 14px;
 font-weight: bold;
 color: #0b78e3;
}
.modal-header .close {
 margin-top: -2px;
 background: #d8d6d6;
 opacity: 1;
 border-radius: 50%;
 height: 30px;
 width: 30px;
}
.new-navstyle .active:after {
    content: "\f0c8";
    font-family: FontAwesome;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    bottom: -13px;
    right: 47%;
    left: 47%;
    color: #f5f9fc;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    font-size: 22px;
}
.new-navstyle.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #335483;
}
.new-navstyle.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    border-bottom: 0px;
}
.new-navstyle.navbar-default .navbar-nav>li>a {
    color: #fff;
    border-bottom: 0px ;
}

/*================= Chating pages ==============*/

.webcolor{color: #0b78e3;}
.topchatbor {
 background-color: #f5f9fc;
 border-bottom: 1px solid #e7ebee;
}
.chatbgcolor{background-color:#f5f9fc;}

.chat
{
 list-style: none;
 margin: 0;
 padding: 0;
}

.chat li
{
 margin-bottom: 10px;
 padding: 30px 5px;
 border-bottom: 1px solid #e7ebee;
}

.chat li.left .chat-body
{
 margin-left: 60px;
}

.chat li .chat-body p
{
 margin: 0;
 color: #9e9e9e;
    font-size: 14px;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
 margin-right: 5px;
}
.chatborder {
 border-left: 1px solid #e7ebee;
 border-right: 1px solid #e7ebee;
    background: #fff;
}
.chat-img img {
 max-height: 50px;
    height:100%;
}
.primary-font {
 font-size: 18px;
 font-weight: bold;
 color: #222222;
    display: inline-block;
}
/*============ 17-4-18 ================*/

.padl20{padding-left:14px;}
.right-menu li.active a {
    text-decoration: none;
    color: rgba(9, 9, 9, 0.92) !important;
    text-shadow: 2px 2px 4px rgba(150, 150, 150, 0.8);
}
.profilepic {
    text-align: center;
    margin-bottom: 20px;
    font-size:14px;
    font-weight:bold;
}
.editphoto {
    font-size: 16px;
    margin-bottom: 40px;
    color: #0b78e3;
}
.profilepic img {
    height: 100px;
    width: 100px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}
.cancelaccount{font-size: 18px; color: #0b78e3;}
.borderbotm{border-bottom:1px solid #e7ebee;}
.tabnavstyle>.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
}
.topspace {
    padding: 40px 0px;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
}
.bankcard-box {
    background: #fff;
    border: 1px solid #d0dae4;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
}
.bankaccount img {
    float: left;
    /*margin-right: 20px;
    padding-top: 10px;*/
}
.rightarrow {
    position: absolute;
    transform: translate(0%, 50%);
}
.borderbottom {
    border-bottom: 1px solid #d0dae4;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px 40px;
}
.add_card .row .form-group input.form-control.ftextstyle {
    padding: 0;
}

/*========== Radio box ========*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");



label{
    position: relative;
    cursor: pointer;
    color: #666;
    
}

input[type="checkbox"], input[type="radio"]{
    position: absolute;
    right: 10px;
}

/*Radio box*/

input[type="radio"] + .label-text:before{
    content: "\f10c";
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing:antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 5px;
    font-size: 22px;
}

input[type="radio"]:checked + .label-text:before{
    content: "\f192";
    color: #1c59e0;
    animation: effect 250ms ease-in;
}

input[type="radio"]:disabled + .label-text{
    color: #aaa;
}

input[type="radio"]:disabled + .label-text:before{
    content: "\f111";
    color: #ccc;
}

/*============== End color Checkbox ===========*/

.Bank_of_eu .label-text {
    font-weight: 300;
}

/*=======10.2 Link Bank Account ============ Start search input ==============*/

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}
.formsearcicon{position:relative;}
/*=================== End search input ==============*/

.right-arrow i {
    font-size: 20px;
    float: right;
    padding: 25px 0px;
}
.boxgroup {
    display: table;
    width: 100%;
    padding: 5px 0px 2px 0px;
    border-bottom: 1px solid #cbcbcb;
    border-radius: 4px;
}
.verh {
  padding: 20px 0px;
}
.vmiddle { vertical-align: middle; }
.showcard{
    overflow: hidden;
    width: 100%;
    border-radius: 4px; 
}
.choose_bank {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.padl15{padding-left:15px;}
.transferbox {
    border-radius: 0;
    border-top: 1px solid #cbcbcb;
}
.padtb13{
    padding-top: 13px;
    padding-bottom: 13px;
}
.bigspace {
    padding: 50px 0px;
}

/*================= New Mylestone Milestone-4 pages =================*/

/*--------- Upload images ---------*/

.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}
/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:8px;
}
.hei34 {
    height: 34px;
}

#lblUserAt{
    position: absolute;
    top: 20%;
    font-size: 16px;
    color: #0b78e3;
}
/*------------- upload images end -----------*/

